body{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin: 0;

  background-image: url(../image/code_background_1.jpg);


  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

}
a
{
  text-decoration: none;
}
#buttons a{
  font-size: 25px;

  color: black;
  display: inline-block;
  padding: 8px;


}
#buttons a:hover
{
  margin-bottom: -2px;
  border-bottom: solid 2px;
}
.header
{

  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 1;
  text-align: center;
  display: flex;
  background-color: white;
  color: black;

  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}
#title
{
  margin: auto;
  width: 21%;
}
#buttons
{
  margin: auto;
  width: 21%;
}
.portGIT
{
  display: inline-block;
  margin: auto;
  margin: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 60px;
}


.foot
{
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
  color: white;
  font-size: 12px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
}
#contenerCenter
{
  border-top: solid 4px;
  margin: auto;
  margin-top: 200px;
  width: 70%;
  margin-bottom: 200px;
  text-align: center;


  background-color: rgba(255,255,255,1);

}
#centerHeder
{
  border-radius: 18px;
  background-color: white;
  color: black;
  position: relative;
  top: -40px;
  width: 300px;
  height: 80px;
  margin:  auto;


  font-size: 32px;
  line-height: 80px;
  vertical-align: middle;


  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}


#projectContener
{
  width: 400px;
  height: 400px;

  margin: 80px;

  background-position:  center;
  background-size: auto 420px;
  display: inline-block;
}
@media only screen and (max-device-width: 768px) {

  #contenerCenter
  {

    width: 80%;

  }

    #projectContener
    {
      width: 140%;
      height: 140%;

      margin: 20px;
    }

}
#projectContener:hover
{
  background-size: auto 500px;
  transition: 0.3s;
}
#projectContener:hover #projectContent
{
  opacity: 0.8;
  transition: 0.6s;
}
#projectTitle
{
  border-bottom: solid 2px;
  color: black;
  padding: 10px;
  background-color: white;
}
#projectContent
{
  text-align: justify;
  width: 340px;
  height: 268px;
  padding: 30px;
  font-size: 16px;
  background-color: white;
  margin: auto;
  overflow:hidden;
  opacity: 0;
}

#big_font
{
  font-size: 24px;
  font-weight: bolder;
}
#small_font
{
  font-size: 14px;
}
