body{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  background-color: white;
  margin: 0;

  background-image: url(../image/code_background_1.jpg);


  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
a
{
  text-decoration: none;
}
#buttons a{
  font-size: 25px;

  color: white;
  display: inline-block;
  padding: 8px;


}
#buttons a:hover
{
  border-bottom: solid 2px;
}
.header
{
  text-align: center;
  display: flex;
  background-color: #58a4e2;
  color: white;
  height: 240px;
  padding-bottom: 40px;
}
#title
{
  padding: 20px;
  width: 21%;
}
#buttons
{
  padding: 20px;
  width: 21%;
}
.portGIT
{
  padding-top: 140px;
  display: inline-block;
  font-weight: bolder;
  font-size: 60px;
  margin: auto;
}

.center
{
  margin-top: 400px;
  margin-bottom: 200px;
  text-align: center;
  background-color: white;
}
#contenerCenter
{
  margin: auto;
  padding: 80px 0;
  width: 60%;
}

.foot
{
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
  color: white;
  font-size: 12px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
}


#projectContener
{
  width: 400px;
  height: 400px;


  margin: 20px;

  border-top: solid 10px;
  border-color: #58a4e2;
  background-position:  center;
  background-size: auto 420px;
  display: inline-block;
}
#projectContener:hover
{
  background-size: auto 500px;
  transition: 0.3s;
}
#projectContener:hover #projectContent
{
  opacity: 0.8;
  transition: 0.6s;
}
#projectTitle
{
  color: white;
  padding: 10px;
  background-color: #58a4e2D9;
}
#projectContent
{
  text-align: justify;
  width: 340px;
  height: 267px;
  padding: 30px;
  font-size: 16px;
  background-color: white;
  margin: auto;
  overflow:hidden;
  opacity: 0;
}

#big_font
{
  font-size: 24px;
  font-weight: bolder;
}
#small_font
{
  font-size: 14px;
}
