body{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  background-color: white;
  margin: 0;

  background-image: url(../image/code_background_1.jpg);


  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
a{
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 8px;

}
a:hover
{
  border-bottom: solid 2px;
}
.header
{
  text-align: center;
  background-color: #58a4e2;
  color: white;
  height: 240px;
  padding-bottom: 40px;
}
#title
{
  margin: 2%;
  float: left;
  display: inline-block;
}
#buttons
{
  margin: 2%;
  float: right;
  display: inline-block;
}
.portGIT
{
  padding-top: 80px;

  font-weight: bolder;
  font-size: 50px;
  margin: 0 auto;
}

.center
{
  margin-top: 400px;
  margin-bottom: 200px;
  text-align: center;
  background-color: white;
}
#contenerCenter
{
  margin: auto;
  padding: 80px 0;
  width: 60%;
}

.foot
{
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
  color: white;
  font-size: 12px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
}


#projectContener
{
  width: 400px;
  height: 400px;

  padding: 20px;
  margin: 20px;

  border-top: solid 2px;
  border-color: #58a4e2;

  display: inline-block;
}


#big_font
{
  font-size: 24px;
  font-weight: bolder;
}
#small_font
{
  font-size: 14px;
}
