body{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  background-color: white;
  margin: 0;
}
a{
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 8px;

}
a:hover
{
  border-bottom: solid 2px;
}
.header
{

  background-color: #58a4e2;
  color: white;
  height: 240px;

  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}
.centerHeader
{
  padding: 50px;
  display: flex;
}
.center
{

  padding: 50px;
  display: flex;


  width: 60%;
  height: 900px;

  margin: auto;
}
.foot
{
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  text-align: center;
  color: white;
  font-size: 12px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
}
#title
{
  display: inline-block;
}
.portGIT
{
  padding-top: 80px;
  display: inline-block;
  font-weight: bolder;
  font-size: 50px;
  margin: 0 auto;
}

#projectContener
{
  width: 50%;
  margin: 10px;
  padding: 10px;
  height: 360px;
  background-color:  red;

  display: inline-block;
}



#buttons
{
  display: inline-block;
}
#big_font
{
  font-weight: bolder;
}
#small_font
{
  font-size: 14px;
}
